name: Run JUnit CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  automation-JUnit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v4.0.0
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@latest

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew build -DskipTests

      - name: Run Tests
        run: ./gradlew clean test

      - name: Archive test results
        uses: actions/upload-artifact@v4.3.0
        if: always()
        with:
          name: test-reports
          path: build/reports/tests/test/
          retention-days: 30

