name: Run JUnit CI

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  automation-JUnit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - uses: browser-actions/setup-chrome@v1

      - name: Run Tests
        run: |
          chmod +x gradlew
          ./gradlew clean test

      - name: Deploy to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/reports/tests/test
