name: Run JUnit CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  automation-JUnit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: latest

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew build

      - name: Run Tests
        run: ./gradlew clean test

      - name: Archive test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-reports
          path: build/reports/tests/test

      - name: Deploy to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.PAT }}
          publish_dir: build/reports/tests/test
